# rules for javax.validation

#Support for javax.validation annotations
param.required=@javax.validation.constraints.NotBlank
field.required=@javax.validation.constraints.NotBlank
param.required=@javax.validation.constraints.NotNull
field.required=@javax.validation.constraints.NotNull
param.required=@javax.validation.constraints.NotEmpty
field.required=@javax.validation.constraints.NotEmpty

# AssertTrue|AssertFalse
field.demo[@javax.validation.constraints.AssertFalse]=false
field.demo[@javax.validation.constraints.AssertTrue]=true